footer{
    background-color: #f7f7f7;    /* Couleur d'arrière-plan */
    padding:5px;
    text-align: center;


}

.onglets .lien{
    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */ 
}


.onglets{
    list-style: none;
    text-decoration: none;        /* Suppression du soulignement */
    border-radius: 4px;           /* Arrondis des bordures */
    font-family: Arial;


    
}


.lien {
    
    border: 1px solid #fff;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
    background-color: #fff;    /* Couleur d'arrière-plan */
    padding:5px;

    

   
}

.footer{
    font-family: Arial;
    font-weight: bold

}



