footer{
    background-color: #f3f3f3;    /* Couleur d'arrière-plan */
    padding:5px;


}



.onglets{
    list-style: none;
    text-decoration: none;        /* Suppression du soulignement */
    border-radius: 4px;           /* Arrondis des bordures */
    font-family: Arial;
    width: 160px;             /* Largeur minimale des liens */   



    
}


.lien {
    
    border: 1px solid #fff;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
    background-color: #fff;    /* Couleur d'arrière-plan */
    padding:5px;
    text-align: center;

    

   
}

.footer{
    font-family: Arial;
    font-weight: bold

}



