.contenu{
    background-color: #f3f3f3;    /* Couleur d'arrière-plan */
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;           /* Arrondis des bordures */
}


.formulaire{
    padding:5px ;
    height:200px;
    


}

.login{

    padding:5px;
    border-bottom: 1px solid black;       /* Ajout d'une bordure */
    font-family: Arial;
    font-weight: bold;
}

.label{
    padding:5px;
    font-family: Arial;
    font-weight: bold;
}

